# Nybegynnerseminar del 2

### Dagens plan

#### - Repetisjon av forrige mandag - objekter!
#### - Pandas dataframes (tabeller)
    - Hva er pandas, og hva er en pakke?
    - Hvordan lese inn data
    - Hvordan se på data
        - df.head(), df.tail(), df.sample(), df.value_counts(), df.info(), df.columns()
    - Hvordan endre data
        - Lage nye kolonner
        - Slette kolonner
        - Verdi-selektering med .loc[]
    
#### - (litt) github
#### - Veien videre/lekser!:)

In [10]:
#int
heltall = 1

#float

desimaltall = 1.0

In [7]:
#list

liste = [1,2,3,4]

#dictionary 

dictionary = {1:2, 2:3, 4:5}

In [8]:
# string

tekst = '123'

### PANDAS

In [11]:
import pandas as pd

In [16]:
filsti = 'https://raw.githubusercontent.com/rashida048/Datasets/master/fifa.csv'
fifa = pd.read_csv(filsti)

In [ ]:
tinyurl.com/fifadatassb

In [25]:
fifa.head(3)

,Unnamed: 0,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,27,1987-06-24,169,67,Argentina,...,76,NaN,25,21,20,6,11,15,14,8
1,1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,29,1985-02-05,185,80,Portugal,...,85,NaN,22,31,23,7,11,15,14,11
2,2,9014,https://sofifa.com/player/9014/arjen-robben/15...,A. Robben,Arjen Robben,30,1984-01-23,180,80,Netherlands,...,80,NaN,29,26,26,10,8,11,5,15

In [26]:
fifa.tail(3)

,Unnamed: 0,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
16152,16152,217591,https://sofifa.com/player/217591/piotr-zemlo/1...,P. Żemło,Piotr Żemło,18,1995-07-10,190,76,Poland,...,31,NaN,54,52,51,8,14,7,10,9
16153,16153,222947,https://sofifa.com/player/222947/tom-davies/15...,T. Davies,Tom Davies,22,1992-04-18,180,70,England,...,21,NaN,36,34,35,15,13,6,11,9
16154,16154,201197,https://sofifa.com/player/201197/paul-tisdale/...,P. Tisdale,Paul Tisdale,41,1973-01-14,175,72,Malta,...,55,NaN,27,34,29,5,6,14,8,13

In [24]:
fifa.sample(3)

,Unnamed: 0,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
5560,5560,220201,https://sofifa.com/player/220201/ivan-ledezma/...,I. Ledezma,Iván Patricio Ledezma Ahumada,18,1995-07-19,170,68,Chile,...,40,NaN,39,28,37,5,14,5,9,14
3213,3213,146695,https://sofifa.com/player/146695/leo-franco/15...,L. Franco,Leonardo Neoren Franco,37,1977-05-20,188,79,Argentina,...,29,NaN,25,25,25,66,72,79,72,71
2773,2773,177280,https://sofifa.com/player/177280/tore-reginius...,T. Reginiussen,Tore Reginiussen,28,1986-04-10,185,80,Norway,...,31,NaN,73,73,70,5,12,7,12,7

In [29]:
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16155 entries, 0 to 16154
Data columns (total 81 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  16155 non-null  int64
 1   sofifa_id                   16155 non-null  int64
 2   player_url                  16155 non-null  object
 3   short_name                  16155 non-null  object
 4   long_name                   16155 non-null  object
 5   age                         16155 non-null  int64
 6   dob                         16155 non-null  object
 7   height_cm                   16155 non-null  int64
 8   weight_kg                   16155 non-null  int64
 9   nationality                 16155 non-null  object
 10  club_name                   15916 non-null  object
 11  league_name                 15916 non-null  object
 12  league_rank                 15916 non-null  float64
 13  overall                     16155 non-null  int64
 14  potential                   16155 non-null  int64
 15  value_eur                   16155 non-null  int64
 16  wage_eur                    16155 non-null  int64
 17  player_positions            16155 non-null  object
 18  preferred_foot              16155 non-null  object
 19  international_reputation    16155 non-null  int64
 20  weak_foot                   16155 non-null  int64
 21  skill_moves                 16155 non-null  int64
 22  work_rate                   16155 non-null  object
 23  body_type                   16155 non-null  object
 24  real_face                   16155 non-null  object
 25  release_clause_eur          0 non-null      float64
 26  player_tags                 1236 non-null   object
 27  team_position               15916 non-null  object
 28  team_jersey_number          15916 non-null  float64
 29  loaned_from                 912 non-null    object
 30  joined                      15004 non-null  object
 31  contract_valid_until        15916 non-null  float64
 32  nation_position             1081 non-null   object
 33  nation_jersey_number        1081 non-null   float64
 34  pace                        14380 non-null  float64
 35  shooting                    14380 non-null  float64
 36  passing                     14380 non-null  float64
 37  dribbling                   14380 non-null  float64
 38  defending                   14380 non-null  float64
 39  physic                      14380 non-null  float64
 40  gk_diving                   1775 non-null   float64
 41  gk_handling                 1775 non-null   float64
 42  gk_kicking                  1775 non-null   float64
 43  gk_reflexes                 1775 non-null   float64
 44  gk_speed                    1775 non-null   float64
 45  gk_positioning              1775 non-null   float64
 46  player_traits               6599 non-null   object
 47  attacking_crossing          16155 non-null  int64
 48  attacking_finishing         16155 non-null  int64
 49  attacking_heading_accuracy  16155 non-null  int64
 50  attacking_short_passing     16155 non-null  int64
 51  attacking_volleys           16155 non-null  int64
 52  skill_dribbling             16155 non-null  int64
 53  skill_curve                 16155 non-null  int64
 54  skill_fk_accuracy           16155 non-null  int64
 55  skill_long_passing          16155 non-null  int64
 56  skill_ball_control          16155 non-null  int64
 57  movement_acceleration       16155 non-null  int64
 58  movement_sprint_speed       16155 non-null  int64
 59  movement_agility            16155 non-null  int64
 60  movement_reactions          16155 non-null  int64
 61  movement_balance            16155 non-null  int64
 62  power_shot_power            16155 non-null  int64
 63  power_jumping               16155 non-null  int64
 64  power_stamina               16155 non-null  int64
 65  power_strength              16155 non-null  int64
 66  power_long_shots            16155 non-null  int64
 67  mentality_aggression        16155 non-null  int64
 68  mentality_interceptions     16155 non-null  int64
 69  mentality_positioning       16155 non-null  int64
 70  mentality_vision            16155 non-null  int64
 71  mentality_penalties         16155 non-null  int64
 72  mentality_composure         0 non-null      float64
 73  defending_marking           16155 non-null  int64
 74  defending_standing_tackle   16155 non-null  int64
 75  defending_sliding_tackle    16155 non-null  int64
 76  goalkeeping_diving          16155 non-null  int64
 77  goalkeeping_handling        16155 non-null  int64
 78  goalkeeping_kicking         16155 non-null  int64
 79  goalkeeping_positioning     16155 non-null  int64
 80  goalkeeping_reflexes        16155 non-null  int64
dtypes: float64(18), int64(45), object(18)
memory usage: 10.0+ MB

In [30]:
fifa.describe()

,Unnamed: 0,sofifa_id,age,height_cm,weight_kg,league_rank,overall,potential,value_eur,wage_eur,...,mentality_penalties,mentality_composure,defending_marking,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
count,16155.000000,16155.000000,16155.000000,16155.000000,16155.000000,15916.000000,16155.000000,16155.000000,1.615500e+04,16155.000000,...,16155.000000,0.0,16155.000000,16155.000000,16155.000000,16155.000000,16155.000000,16155.000000,16155.000000,16155.000000
mean,8077.000000,189284.184525,24.776230,181.083627,75.474342,1.378424,63.830393,68.350108,1.060882e+06,13056.453110,...,49.648344,NaN,45.009037,47.656639,45.885918,15.869514,15.511668,15.354875,15.504735,15.998514
std,4663.691135,39749.261554,4.625321,6.618974,6.891796,0.736796,7.169896,6.580610,2.819128e+06,23488.182571,...,14.552244,NaN,17.915206,18.743105,18.145497,17.576799,16.414173,16.010498,16.585081,17.983209
min,0.000000,2.000000,16.000000,155.000000,50.000000,1.000000,40.000000,40.000000,0.000000e+00,0.000000,...,20.000000,NaN,20.000000,20.000000,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4038.500000,178042.500000,21.000000,176.000000,70.000000,1.000000,59.000000,64.000000,1.200000e+05,2000.000000,...,39.000000,NaN,25.000000,25.000000,25.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,8077.000000,200841.000000,24.000000,181.000000,75.000000,1.000000,64.000000,68.000000,3.500000e+05,5000.000000,...,50.000000,NaN,46.000000,52.000000,49.000000,11.000000,11.000000,11.000000,10.000000,10.000000
75%,12115.500000,214346.000000,28.000000,186.000000,80.000000,2.000000,68.000000,73.000000,8.250000e+05,10000.000000,...,61.000000,NaN,61.000000,64.000000,62.000000,13.000000,14.000000,13.000000,13.000000,13.000000
max,16154.000000,225562.000000,44.000000,204.000000,110.000000,4.000000,93.000000,95.000000,1.005000e+08,550000.000000,...,95.000000,NaN,90.000000,91.000000,95.000000,88.000000,87.000000,92.000000,90.000000,90.000000

In [35]:
fifa.value_counts

<bound method DataFrame.value_counts of        Unnamed: 0  sofifa_id  \
0               0     158023
1               1      20801
2               2       9014
3               3      41236
4               4     167495
...           ...        ...
16150       16150     220806
16151       16151     225509
16152       16152     217591
16153       16153     222947
16154       16154     201197

                                              player_url         short_name  \
0      https://sofifa.com/player/158023/lionel-messi/...           L. Messi
1      https://sofifa.com/player/20801/c-ronaldo-dos-...  Cristiano Ronaldo
2      https://sofifa.com/player/9014/arjen-robben/15...          A. Robben
3      https://sofifa.com/player/41236/zlatan-ibrahim...     Z. Ibrahimović
4      https://sofifa.com/player/167495/manuel-neuer/...           M. Neuer
...                                                  ...                ...
16150  https://sofifa.com/player/220806/ellis-redman/...          E. Redman
16151  https://sofifa.com/player/225509/aaron-collins...         A. Collins
16152  https://sofifa.com/player/217591/piotr-zemlo/1...           P. Żemło
16153  https://sofifa.com/player/222947/tom-davies/15...          T. Davies
16154  https://sofifa.com/player/201197/paul-tisdale/...         P. Tisdale

                                 long_name  age         dob  height_cm  \
0           Lionel Andrés Messi Cuccittini   27  1987-06-24        169
1      Cristiano Ronaldo dos Santos Aveiro   29  1985-02-05        185
2                             Arjen Robben   30  1984-01-23        180
3                       Zlatan Ibrahimović   32  1981-10-03        195
4                             Manuel Neuer   28  1986-03-27        193
...                                    ...  ...         ...        ...
16150                         Ellis Redman   17  1996-09-26        187
16151                        Aaron Collins   17  1997-06-01        178
16152                          Piotr Żemło   18  1995-07-10        190
16153                           Tom Davies   22  1992-04-18        180
16154                         Paul Tisdale   41  1973-01-14        175

       weight_kg  nationality  ... mentality_penalties mentality_composure  \
0             67    Argentina  ...                  76                 NaN
1             80     Portugal  ...                  85                 NaN
2             80  Netherlands  ...                  80                 NaN
3             95       Sweden  ...                  91                 NaN
4             92      Germany  ...                  37                 NaN
...          ...          ...  ...                 ...                 ...
16150         81        Wales  ...                  31                 NaN
16151         57        Wales  ...                  47                 NaN
16152         76       Poland  ...                  31                 NaN
16153         70      England  ...                  21                 NaN
16154         72        Malta  ...                  55                 NaN

       defending_marking  defending_standing_tackle  defending_sliding_tackle  \
0                     25                         21                        20
1                     22                         31                        23
2                     29                         26                        26
3                     25                         41                        27
4                     25                         25                        25
...                  ...                        ...                       ...
16150                 38                         40                        35
16151                 25                         25                        25
16152                 54                         52                        51
16153                 36                         34                        35
16154                 27                         34                        29

       goalkeeping_diving  goalkeeping_handling goalkeeping_kicking  \
0                       6                    11                  15
1                       7                    11                  15
2                      10                     8                  11
3                      13                    15                  10
4                      87                    85                  92
...                   ...                   ...                 ...
16150                  12                     6                  15
16151                  13                    11                  12
16152                   8                    14                   7
16153                  15                    13                   6
16154                   5                     6                  14

      goalkeeping_positioning  goalkeeping_reflexes
0                          14                     8
1                          14                    11
2                           5                    15
3                           9                    12
4                          90                    86
...                       ...                   ...
16150                       8                     6
16151                      15                    11
16152                      10                     9
16153                      11                     9
16154                       8                    13

[16155 rows x 81 columns]>

In [36]:
fifa.columns

Index(['Unnamed: 0', 'sofifa_id', 'player_url', 'short_name', 'long_name',
       'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club_name',
       'league_name', 'league_rank', 'overall', 'potential', 'value_eur',
       'wage_eur', 'player_positions', 'preferred_foot',
       'international_reputation', 'weak_foot', 'skill_moves', 'work_rate',
       'body_type', 'real_face', 'release_clause_eur', 'player_tags',
       'team_position', 'team_jersey_number', 'loaned_from', 'joined',
       'contract_valid_until', 'nation_position', 'nation_jersey_number',
       'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed',
       'gk_positioning', 'player_traits', 'attacking_crossing',
       'attacking_finishing', 'attacking_heading_accuracy',
       'attacking_short_passing', 'attacking_volleys', 'skill_dribbling',
       'skill_curve', 'skill_fk_accuracy', 'skill_long_passing',
       'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed',
       'movement_agility', 'movement_reactions', 'movement_balance',
       'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength',
       'power_long_shots', 'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking', 'defending_standing_tackle',
       'defending_sliding_tackle', 'goalkeeping_diving',
       'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes'],
      dtype='object')

In [43]:
fifa[['short_name', 'long_name']]

              short_name                            long_name
0               L. Messi       Lionel Andrés Messi Cuccittini
1      Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro
2              A. Robben                         Arjen Robben
3         Z. Ibrahimović                   Zlatan Ibrahimović
4               M. Neuer                         Manuel Neuer
...                  ...                                  ...
16150          E. Redman                         Ellis Redman
16151         A. Collins                        Aaron Collins
16152           P. Żemło                          Piotr Żemło
16153          T. Davies                           Tom Davies
16154         P. Tisdale                         Paul Tisdale

[16155 rows x 2 columns]

In [52]:
fifa['ny_variabel'] = None

In [53]:
fifa[['short_name', 'long_name', 'ny_variabel']]

              short_name                            long_name ny_variabel
0               L. Messi       Lionel Andrés Messi Cuccittini        None
1      Cristiano Ronaldo  Cristiano Ronaldo dos Santos Aveiro        None
2              A. Robben                         Arjen Robben        None
3         Z. Ibrahimović                   Zlatan Ibrahimović        None
4               M. Neuer                         Manuel Neuer        None
...                  ...                                  ...         ...
16150          E. Redman                         Ellis Redman        None
16151         A. Collins                        Aaron Collins        None
16152           P. Żemło                          Piotr Żemło        None
16153          T. Davies                           Tom Davies        None
16154         P. Tisdale                         Paul Tisdale        None

[16155 rows x 3 columns]

In [55]:
fifa['defending_samlet'] = fifa['defending_marking'] + fifa['defending_standing_tackle'] + fifa['defending_sliding_tackle']

In [56]:
fifa[['defending_samlet', 'defending_marking', 'defending_standing_tackle', 'defending_sliding_tackle']]

,defending_samlet,defending_marking,defending_standing_tackle,defending_sliding_tackle
0,66,25,21,20
1,76,22,31,23
2,81,29,26,26
3,93,25,41,27
4,75,25,25,25
...,...,...,...,...
16150,113,38,40,35
16151,75,25,25,25
16152,157,54,52,51
16153,105,36,34,35
16154,90,27,34,29

In [72]:
fifa.shape

(16155, 84)

In [65]:
fifa_trettiplus = fifa.loc[fifa['age']>30]

In [79]:
fifa_3 = fifa.loc[(fifa['age']>30) & (fifa['height_cm']<165)]

In [89]:
fifa['age']

0        27
1        29
2        30
3        32
4        28
         ..
16150    17
16151    17
16152    18
16153    22
16154    41
Name: age, Length: 16155, dtype: int64

In [68]:
fifa.columns

Index(['Unnamed: 0', 'sofifa_id', 'player_url', 'short_name', 'long_name',
       'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club_name',
       'league_name', 'league_rank', 'overall', 'potential', 'value_eur',
       'wage_eur', 'player_positions', 'preferred_foot',
       'international_reputation', 'weak_foot', 'skill_moves', 'work_rate',
       'body_type', 'real_face', 'release_clause_eur', 'player_tags',
       'team_position', 'team_jersey_number', 'loaned_from', 'joined',
       'contract_valid_until', 'nation_position', 'nation_jersey_number',
       'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed',
       'gk_positioning', 'player_traits', 'attacking_crossing',
       'attacking_finishing', 'attacking_heading_accuracy',
       'attacking_short_passing', 'attacking_volleys', 'skill_dribbling',
       'skill_curve', 'skill_fk_accuracy', 'skill_long_passing',
       'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed',
       'movement_agility', 'movement_reactions', 'movement_balance',
       'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength',
       'power_long_shots', 'mentality_aggression', 'mentality_interceptions',
       'mentality_positioning', 'mentality_vision', 'mentality_penalties',
       'mentality_composure', 'defending_marking', 'defending_standing_tackle',
       'defending_sliding_tackle', 'goalkeeping_diving',
       'goalkeeping_handling', 'goalkeeping_kicking',
       'goalkeeping_positioning', 'goalkeeping_reflexes', 'ny_variabel',
       'defending_samlet', 'test'],
      dtype='object')

In [2]:
import pandas as pd

In [ ]:
fifa_filsti = 'https://raw.githubusercontent.com/rashida048/Datasets/master/fifa.csv'
fifa = pd.read_csv(fifa_filsti)
fifa

In [12]:
cars_filsti = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv'

In [13]:
cars = pd.read_csv(cars_filsti)

In [14]:
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,NaN,NaN,NaN,NaN,NaN
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,NaN,NaN,NaN,NaN,NaN
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,NaN,NaN,NaN,NaN,NaN
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,NaN,NaN,NaN,NaN,NaN
4,17.0,8,302,140,3449,10.5,70,1,ford torino,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,24.0,6,200,81,3012,17.6,76,1,ford maverick,NaN,NaN,NaN,NaN,NaN
194,22.5,6,232,90,3085,17.6,76,1,amc hornet,NaN,NaN,NaN,NaN,NaN
195,29.0,4,85,52,2035,22.2,76,1,chevrolet chevette,NaN,NaN,NaN,NaN,NaN
196,24.5,4,98,60,2164,22.1,76,1,chevrolet woody,NaN,NaN,NaN,NaN,NaN
197,29.0,4,90,70,1937,14.2,76,2,vw rabbit,NaN,NaN,NaN,NaN,NaN

In [15]:
occupation_filsti = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

In [20]:
users = pd.read_csv(occupation_filsti, sep='|')

In [17]:
users

    user_id|age|gender|occupation|zip_code
0                  1|24|M|technician|85711
1                       2|53|F|other|94043
2                      3|23|M|writer|32067
3                  4|24|M|technician|43537
4                       5|33|F|other|15213
..                                     ...
938                 939|26|F|student|33319
939           940|32|M|administrator|02215
940                 941|20|M|student|97229
941               942|48|F|librarian|78209
942                 943|22|M|student|77841

[943 rows x 1 columns]